{% extends 'Base.html' %}

{% block body%}
	<div style="text-align: center">
    		<h1 style="color: black">Cadastre Novo Agendamento!</h1>
		<div class="container">
			<hr>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
		    			
				
					<legend style="color: red">Cadastro Agendamento em Bloco</legend>
					<fieldset>

                        <div>
                            <form action="{{ url_for('main.upload_file') }}" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" accept=".xlsx, .xls">
                                <button class="btn btn-sm btn-dark w-10 ml-2 pt-1" type="submit">Importar</button>
                            </form>
                        </div>    

					</fieldset>

                    
                            
					</form>
				</div>

                
                <div class="container-fluid mt-5">
      
        		<h1 style="color: red">Última Importação</h1>
                     
        
            <div class="container-fluid p-2">        
        	<table class="table table-striped" style="font-size: 15px;">
                  <thead class="thead-danger">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">Nome Arquivo</th>  
                      <th scope="col">Data</th>
                      <th scope="col">Usuário</th>
                
                        
                    </tr>
                  </thead>
                  <tbody>
                      
                    {% for arquivos in lista_arquivos %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ arquivos.id }}</td>
                        <td>{{ arquivos.arquivo }}</td>
                        <td>{{ arquivos.ultima_alteracao.strftime('%d/%m/%Y %H:%M') }}</td>
                        <td>{{ arquivos.usuario_alteracao }}</td>
                       
                    </tr>
                    {% endfor %}
                       
                  </tbody>
            </table>
                
            </div>
            <div>
            <a class="w-15" href="{{ url_for('main.agendamento') }}">
                <button class="btn btn-danger mb-1">Voltar</button>
            </a>
            </div>        
<div>
			
			</div>

		</div>

	</div>

{% endblock %}
