{% extends 'Base.html' %}

{% block body%}
	<div style="text-align: center">
    		<h1 style="color: black">Inserir Veículo Pátio</h1>
        <div class="container">
	        <hr>
	    </div>  
    	<div class="container">
    		<div class="row">
    			<div class="col">
    		            <form method="POST" action="" class="border m-2 p-2">
    				{{ form_gestao_patio.csrf_token}}    				
    				<legend style="color: red">Gestão Patio</legend>
    				<fieldset>
    					<div class="form-group">
    						{{ form_gestao_patio.num_transporte.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.num_transporte.errors %}
    							{{ form_gestao_patio.num_transporte(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.num_transporte.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.num_transporte(class="form-control") }}
    						{% endif %}
                            	 		
    					</div
                        <div class="form-group">
    						{{ form_gestao_patio.num_frota.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.num_frota.errors %}
    							{{ form_gestao_patio.num_frota(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.num_frota.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.num_frota(class="form-control") }}
    						{% endif %}
                            	 		
    					</div>
                        <div class="form-group">
    						{{ form_gestao_patio.num_faixa.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.num_faixa.errors %}
    							{{ form_gestao_patio.num_faixa(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.num_faixa.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.num_faixa(class="form-control") }}
    						{% endif %}
                            	 		
    					</div>
                        <div class="form-group">
    						{{ form_gestao_patio.num_doca.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.num_doca.errors %}
    							{{ form_gestao_patio.num_doca(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.num_doca.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.num_doca(class="form-control") }}
    						{% endif %}
                            	 		
    					</div>
                        <div class="form-group">
    						{{ form_gestao_patio.num_posicao.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.num_posicao.errors %}
    							{{ form_gestao_patio.num_posicao(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.num_posicao.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.num_posicao(class="form-control") }}
    						{% endif %}
                            	 		
    					</div>
                        <div class="form-group">
    						{{ form_gestao_patio.sub_frota.label(class="form-control-label") }}
    						
    						{% if form_gestao_patio.sub_frota.errors %}
    							{{ form_gestao_patio.sub_frota(class="form-control is-invalid") }}
    						<div class="invalid-feedback">
    							{% for erro in form_gestao_patio.sub_frota.errors %}
    								{{ erro }}
    							{% endfor%}
    						</div>
    						{% else %}
    							{{ form_gestao_patio.sub_frota(class="form-control") }}
    						{% endif %}
                            	 		
    					</div>
    				</fieldset>

 
                            {{ form_gestao_patio.botao_submit_controlpatio(class="btn btn-dark mt-3") }}    
    				</form>
    			</div>
    			<div>
                <a class="w-15" href="{{ url_for('main.painel_rota') }}">
                    <button class="btn btn-danger mt-5">Voltar</button>
                </a>
                </div>
    		</div>
        </div>  
	</div>


{% endblock %}
