{% extends 'Base.html' %}

{% block body %}
<div class="container-fluid mt-3">
    <h1>Gestão de Patio</h1>
    <div class="container-fluid p-2">
        <a class="w-15" href="{{ url_for('main.controle_faixa') }}">
            <button class="btn btn-dark mb-1">Incluir Frota</button>
        </a>
        <a class="w-15" href="{{ url_for('main.arq_picking') }}">
            <button class="btn btn-danger mb-1">Importar Gravatas</button>
        </a>
        <table class="table table-striped" style="font-size: 11px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Frota</th>
                    <th scope="col">Frota Sub</th>
                    <th scope="col">Stage-In</th>
                    <th scope="col">Faixa</th>
                    <th scope="col">Posição</th>
                    <th scope="col">Check-In</th>
                    <th scope="col">Patio</th>
                    <th scope="col">Hora Faixa</th>
                    <th scope="col">Concluído</th>
                    <th scope="col">Status</th>
                    <th scope="col">Paletes</th>
                    <th scope="col">Local</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">Transporte</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for controles in lista_patio %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ controles.data.strftime('%d/%m/%Y') }}</td>
                    <td>{{ controles.num_frota }}</td>
                    <td>{{ controles.sub_frota }}</td>
                    <td>{{ controles.num_doca }}</td>
                    <td>{{ controles.num_faixa }}</td>
                    <td>{{ controles.num_posicao }}</td>
                    <td>{{ controles.hora_portaria.strftime('%H:%M') if controles.hora_portaria else '' }}</td>
                    <td>{{ controles.hora_patio.strftime('%H:%M') if controles.hora_patio else '' }}</td>
                    <td>{{ controles.hora_faixa.strftime('%H:%M') if controles.hora_faixa else '' }}</td>
                    <td>{{ controles.hora_conclusao.strftime('%H:%M') if controles.hora_conclusao else '' }}</td>
                    <td>{{ controles.status_frota }}</td>
                    <td>{{ controles.total_paletes }}</td>
                    <td>{{ controles.fase_patio }}</td>
                    <td>
                        {% if controles.tempo_faixa and controles.tempo_faixa.total_seconds() > 1800 %}
                            <span style="color: red; font-weight: bold;">{{ format_timedelta(controles.tempo_faixa) }}</span>
                        {% elif controles.tempo_faixa %}
                            {{ format_timedelta(controles.tempo_faixa) }}
                        {% else %}
                            ''
                        {% endif %}
                    </td>
                    <td>{{ controles.num_transporte }}</td>
                    <td>
                        <div class="d-block d-flex flex-wrap gap-1">
              
                            <a href="{{ url_for('main.controle_patio', control_patio_id=controles.id) }}" class="btn btn-dark btn-sm p-1">Alterar</a>                      
                            <a href="{{ url_for('main.gestao_picking', control_patio_id=controles.id) }}" class="btn btn-secondary btn-sm p-1">Picking</a>
                            <a href="{{ url_for('main.carregar_frota', control_patio_id=controles.id) }}" class="btn btn-danger btn-sm p-1">Carregar</a>
                            <a href="{{ url_for('main.concluir_faixa', control_patio_id=controles.id) }}" class="btn btn-success btn-sm p-1">Concluir</a>
                        
                        </div>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // Recarrega a página a cada 5 minutos (300.000 milissegundos)
    setTimeout(function(){
        window.location.reload(1);
    }, 180000);
</script>


{% endblock %}

{% macro format_timedelta(delta) %}
    {% if delta %}
        {% set seconds = delta.total_seconds() %}
        {% set hours = seconds // 3600 %}
        {% set minutes = (seconds % 3600) // 60 %}
        {{ '%02d:%02d' % (hours, minutes) }}
    {% else %}
        ''
    {% endif %}
{% endmacro %}
