{% extends 'Base.html' %}

{% block body %}
<div class="container-fluid mt-3">
    <h1>RELATÓRIO DE AGENDAMENTOS - MERCADO EXTERNO</h1>
    <div class="container-fluid p-2">
        <form id="search-form" method="POST" action="{{ url_for('main.buscar_transporte') }}">
            <div class="form-group">
                <label for="num_transporte">Número de Transporte:</label>
                <input type="text" class="form-control" id="num_transporte" name="num_transporte" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        
        {% if agendamentos %}
            <table class="table table-striped mt-3" style="font-size: 11px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Transporte</th>
                        <th scope="col">Data</th>
                        <th scope="col">Agenda</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Veículo</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Motorista</th>
                        <th scope="col">Transportadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ agendamentos[0].num_transporte }}</td>
                        <td>{{ agendamentos[0].entrydate.strftime('%d/%m/%Y') }}</td>
                        <td>{{ agendamentos[0].entryhour }}</td>
                        <td>{{ agendamentos[0].origem }}</td>
                        <td>{{ agendamentos[0].destino }}</td>
                        <td>{{ agendamentos[0].veiculo }}</td>
                        <td>{{ agendamentos[0].cliente }}</td>
                        <td>{{ agendamentos[0].placa_veiculo }}</td>
                        <td>{{ agendamentos[0].motorista }}</td>
                        <td>{{ agendamentos[0].transportadora }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>Nenhum agendamento encontrado.</p>
        {% endif %}

        {% if vendas_me %}
            <table class="table table-striped mt-3" style="font-size: 11px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código Produto</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Data Produção</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas_me %}
                    <tr>
                        <td>{{ venda.cod_produto }}</td>
                        <td>{{ venda.descricao }}</td>
                        <td>{{ venda.qtd_cxf }}</td>
                        <td>{{ venda.data_producao.strftime('%d/%m/%Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhuma venda encontrada.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
