{% extends 'Base.html' %}

{% block body%}
		<div class="container">
        		<h1>Carregamentos</h1>
    		{% for recebimento in lista_cargas %}
    			<strong>{{ recebimento.entrydate }}<strong>  <strong>{{recebimento.entryhour}}<strong> <strong>{{recebimento.origem}}<strong> <strong>{{recebimento.destino}}<strong> <div class="button mt-2 d-flex flex-row align-items-center">

                     <a class = "w-100" href="{{ url_for('main.carrega')}}">  
                        <button class="btn btn-sm btn-danger w-100 ml-2">Carregamento</button>
                     </a>
                       
                   </div>
			<hr>
    		{% endfor %}

        <div>
{% endblock %}
