{% extends 'Base.html' %}

{% block body %}
<div class="container-fluid mt-3">
    <h1>RELATÓRIO DE GESTÃO DE PICKING</h1>
    <div class="container-fluid p-2">
        <form id="search-form" method="POST" action="{{ url_for('main.buscar_picking') }}">
            <div class="form-group">
                <label for="num_transporte">Número de Transporte:</label>
                <input type="text" class="form-control" id="num_transporte" name="num_transporte" value="{{ gestao_patio.num_transporte if gestao_patio else '' }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <table class="table table-striped mt-3" style="font-size: 11px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Frota</th>
                    <th scope="col">Transporte</th>
                    <th scope="col">Doca</th>
                    <th scope="col">Faixa</th>
                </tr>
            </thead>
            <tbody>
                {% if gestao_patio %}
                <tr>
                    <td>{{ gestao_patio.num_frota }}</td>
                    <td>{{ gestao_patio.num_transporte }}</td>
                    <td>{{ gestao_patio.num_doca }}</td>
                    <td>{{ gestao_patio.num_faixa }}</td>
        
                </tr>
                {% endif %}
            </tbody>
        </table>

        <table class="table table-striped mt-3" style="font-size: 11px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Palete</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Gravata</th>
                    <th scope="col">Pickeador</th>
                    <th scope="col">Conf. Piso</th>
                    <th scope="col">Conf. Faixa</th>
                </tr>
            </thead>
            <tbody>
                {% if separacao %}
                {% for picking in separacao %}
                <tr>
                    <td>{{ picking.num_palete }}</td>
                    <td>{{ picking.descricao }}</td>
                    <td>{{ picking.qtd_remessa }}</td>
                    <td>{{ picking.num_gravata }}</td>
                    <td>{{ picking.pickeador }}</td>
                    <td>{{ picking.conf_piso }}</td>
                    <td>{{ picking.conf_faixa }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    
</div>
{% endblock %}
