{% extends 'Base.html' %}

 {% block body %}
 <div style="text-align: center">
     <h1 style="color: black">Painel de Picking</h1>
    <div>
       <a class="w-15" href="{{ url_for('main.painel_rota') }}">
          <button class="btn btn-danger mt-2">Voltar</button>
       </a>
    </div>          

     <div class="container-fluid">
         <div class="row">
             <div class="col">
                 <legend style="color: red">Lista Gravata Picking</legend>
                 <fieldset>
                     <div>
                         <table class="table table-striped">
                             <thead>
                                 <tr>
                                     <th>Data</th>
                                     <th>Palete</th>
                                     <th>Material</th>
                                     <th>Descrição</th>
                                     <th>Quantidade</th>
                                     <th>Posição</th>
                                     <th>Pickeador</th>
                                     <th>Tipo Palete</th>
                                     <th>Transporte</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for picking in lista_picking %}
                                 <tr>
                                     <td>{{ picking.data_doc.strftime('%d/%m/%Y') }}</td>
                                     <td>{{ picking.num_palete }}</td>
                                     <td>{{ picking.material }}</td>
                                     <td>{{ picking.descricao }}</td>
                                     <td>{{ picking.qtd_remessa }}</td>
                                     <td>{{ picking.num_posicao }}</td>
                                     <td>{{ picking.pickeador }}</td>
                                     <td>{{ picking.tipo_palete }}</td>
                                     <td>{{ picking.num_transporte }}</td>
                                 </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     </div>
                 </fieldset>
             </div>
         </div>
     </div>
 </div>
 {% endblock %}
