<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
     {% if current_user.is_authenticated %}

    <a class="btn btn-danger" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
       Menu
    </a>  
    {% endif %} 
    <div class="container-fluid container">
    
      
    <a class="navbar-brand" href="{{ url_for('main.home')}}">AGENDA</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           {% if current_user.is_authenticated %}

          
      
          {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.painel_acompanha')}}"">Agendamentos</a>
                </li>
         
          {% endif %} 
      </ul>
      <ul class="navbar-nav ">
          {% if current_user.is_authenticated %}       
          
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.sair')}}">Sair</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.graficos')}}">Gráficos</a>
            </li>

          {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.login')}}">Login</a>
            </li>
           
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.stage_in')}}">Stage In</a>
            </li>

            <li>
            <a class="dropdown-item" href="acesso">Cadastro Usuário</a>
            </li>
           
          {% endif %} 

      </ul>
    </div>
  </div>

</nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu Andina</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Gestão Patio Andina
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Gestão Pátio
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="painel">Painel Cargas</a></li>
            <li><a class="dropdown-item" href="painel_acompanha">Agendamentos</a></li>
            <li><a class="dropdown-item" href="agendamentos">Cadastro Agendamentos</a></li>
            <li><a class="dropdown-item" href="painel_produtos">GNRE Cargas</a></li>  
          </ul>
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Gestão Picking
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="painel_rota">Painel Rota</a></li>
            <li><a class="dropdown-item" href="stage_in">Stage In</a></li>
            <li><a class="dropdown-item" href="gestao_patio">Gestão Faixa</a></li>  

          </ul>
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Gestão Cadastros
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="entidade">Entidades</a></li>
            <li><a class="dropdown-item" href="acesso">Cadastro Usuário</a></li>
            <li><a class="dropdown-item" href="perfil">Perfil Motorista</a></li>  
          </ul>
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Gestão Motoristas
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="entidade">Entidades</a></li>
            <li><a class="dropdown-item" href="acesso">Cadastro Usuário</a></li>
            <li><a class="dropdown-item" href="perfil">Perfil Motorista</a></li>  
          </ul>
        </div>    
      </div>
    </div>

<style>
  .dropdown-menu {
    min-width: 250px; /* Aumenta a largura do dropdown */
    font-size: 16px;  /* Aumenta o tamanho da fonte */
    padding: 50px 0;  /* Espaçamento interno vertical */
  }

  .dropdown-item {
    padding: 20px 20px; /* Aumenta o espaço interno dos itens */
  }
</style>


