{% extends 'Base.html' %}

{% block body %}
<div style="text-align: center">
    <h1 style="color: black">Painel de Picking</h1>
    <div>
        <a class="w-15" href="{{ url_for('main.painel_rota') }}">
         <button class="btn btn-danger mb-1">Voltar</button>
        </a>
    </div>     
    <div class="container-fluid">
        <hr>
    </div>       
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <legend style="color: red">Lista Gravata Picking</legend>
                <fieldset>
                    <div>
                        <p><strong>Número do Transporte:</strong> {{ controle_patio.num_transporte }}</p>
                        <!-- Adicione outras informações relevantes de controle_patio aqui -->
                    </div>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Palete</th>
                                    <th>Material</th>
                                    <th>Descrição</th>
                                    <th>Quantidade</th>
                                    <th>Posição</th>
                                    <th>Pickeador</th>
                                    <th>Tipo Palete</th>
                                    <th>Transporte</th>
                                    <th>Tempo Decorrido</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for picking in separacao %}
                                <tr>
                                    <td>{{ picking.data_doc.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ picking.num_palete }}</td>
                                    <td>{{ picking.material }}</td>
                                    <td>{{ picking.descricao }}</td>
                                    <td>{{ picking.total_qtd_remessa }}</td>
                                    <td>{{ picking.num_posicao }}</td>
                                    <td>{{ picking.pickeador }}</td>
                                    <td>{{ picking.tipo_palete }}</td>
                                    <td>{{ picking.num_transporte }}</td>
                                    <td>
                                        {% set tempo_decorrido = (now - picking.hora_confirmacao).total_seconds() %}
                                        {% set horas = tempo_decorrido // 3600 %}
                                        {% set minutos = (tempo_decorrido % 3600) // 60 %}
                                        {% if tempo_decorrido > 900 %}
                                            <span style="color: red; font-weight: bold">{{ horas }}h {{ minutos }}m</span>
                                        {% else %}
                                            <span style="font-weight: bold">{{ horas }}h {{ minutos }}m</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
