{% extends 'Base.html' %}

{% block body %}
<div class="container-fluid mt-3">
    <h1>Painel de Cargas</h1>
    <div>
        <div id="origem-filters" class="mb-1 text-center"></div> <!-- Contêiner para os checkboxes -->
        <button id="apply-filters" class="btn btn-dark mb-1">Aplicar Filtros</button> <!-- Botão para aplicar filtros -->

        <a class="w-15" href="{{ url_for('main.carrega') }}">
            <button class="btn btn-danger mb-1">Reagendar/Cancelar/Alterar</button>
        </a>

        <a class="w-15" href="{{ url_for('main.relatorio_me') }}">
            <button class="btn btn-danger mb-1">Relatório</button>
        </a>
    </div>

    <div class="container-fluid p-2">
        <table class="table table-striped" style="font-size: 11px;" id="cargas-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transporte</th>
                    <th scope="col">Data</th>
                    <th scope="col">Agenda</th>
                    <th scope="col">Origem</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Motorista</th>
                    <th scope="col">Transportadora</th>
                    <th scope="col">CheckIn</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Carregando</th>
                    <th scope="col">Concluído</th>
                    <th scope="col">Saída</th>
                    <th scope="col">Operação</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamentos in lista_cargas %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ agendamentos.num_transporte }}</td>
                    <td>{{ agendamentos.entrydate.strftime('%d/%m/%Y') }}</td>
                    <td>{{ agendamentos.entryhour }}</td>
                    <td class="origem">{{ agendamentos.origem }}</td>
                    <td>{{ agendamentos.destino }}</td>
                    <td>{{ agendamentos.veiculo }}</td>
                    <td>{{ agendamentos.cliente }}</td>
                    <td>{{ agendamentos.placa_veiculo }}</td>
                    <td>{{ agendamentos.motorista }}</td>
                    <td>{{ agendamentos.transportadora }}</td>
                    <td>{{ agendamentos.check_in.astimezone(tz_sp).strftime('%H:%M') if agendamentos.check_in else '' }}</td>
                    <td>{{ agendamentos.entrada_patio.astimezone(tz_sp).strftime('%H:%M') if agendamentos.entrada_patio else '' }}</td>
                    <td>{{ agendamentos.carregamento.astimezone(tz_sp).strftime('%H:%M') if agendamentos.carregamento else '' }}</td>
                    <td>{{ agendamentos.fim_carregamento.astimezone(tz_sp).strftime('%H:%M') if agendamentos.fim_carregamento else '' }}</td>
                    <td>{{ agendamentos.saida_portaria.astimezone(tz_sp).strftime('%H:%M') if agendamentos.saida_portaria else '' }}</td>
                    <td>{{ agendamentos.tipo_operacao }}</td>
                    <td>
                        {% if not agendamentos.check_in %}
                        <form action="{{ url_for('main.check_in', agendamento_id=agendamentos.id) }}" method="post">
                            <button type="submit" class="btn btn-success btn-sm" {% if agendamentos.check_in %}disabled{% endif %}>CheckIn</button>
                        </form>
                        {% endif %}

                        {% if not agendamentos.entrada_patio and agendamentos.check_in %}
                        <form action="{{ url_for('main.entrada_patio', agendamento_id=agendamentos.id) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" {% if agendamentos.entrada_patio %}disabled{% endif %}>Entrada</button>
                        </form>
                        {% endif %}

                        {% if not agendamentos.carregamento and agendamentos.check_in and agendamentos.entrada_patio %}
                        <form action="{{ url_for('main.inicio_carga', agendamento_id=agendamentos.id) }}" method="post">
                            <button type="submit" class="btn btn-secondary btn-sm" {% if agendamentos.carregamento %}disabled{% endif %}>Inicio</button>
                        </form>
                        {% endif %}

                        {% if not agendamentos.fim_carregamento and agendamentos.check_in and agendamentos.entrada_patio and agendamentos.carregamento %}
                        <form action="{{ url_for('main.fim_carga', agendamento_id=agendamentos.id) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" {% if agendamentos.fim_carregamento %}disabled{% endif %}>Fim</button>
                        </form>
                        {% endif %}

                        {% if not agendamentos.saida_portaria and agendamentos.check_in and agendamentos.entrada_patio and agendamentos.carregamento and agendamentos.fim_carregamento %}
                        <form action="{{ url_for('main.saida_portaria', agendamento_id=agendamentos.id) }}" method="post">
                            <button type="submit" class="btn btn-dark btn-sm" {% if agendamentos.saida_portaria %}disabled{% endif %}>Saída</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const origemFiltersContainer = document.getElementById('origem-filters');
    const applyFiltersButton = document.getElementById('apply-filters');
    const tableRows = document.querySelectorAll('#cargas-table tbody tr');

    // Obter todas as origens únicas
    const origens = new Set();
    tableRows.forEach(row => {
        const origem = row.querySelector('.origem').textContent.trim();
        origens.add(origem);
    });

    // Criar checkboxes para cada origem
    origens.forEach(origem => {
        const label = document.createElement('label');
        label.classList.add('mr-2');
        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.value = origem;
        checkbox.classList.add('mr-1');
        label.appendChild(checkbox);
        label.appendChild(document.createTextNode(origem));
        origemFiltersContainer.appendChild(label);
    });

    // Aplicar filtros
    applyFiltersButton.addEventListener('click', () => {
        const selectedOrigens = Array.from(origemFiltersContainer.querySelectorAll('input[type="checkbox"]:checked')).map(cb => cb.value);
        tableRows.forEach(row => {
            const origem = row.querySelector('.origem').textContent.trim();
            if (selectedOrigens.length === 0 || selectedOrigens.includes(origem)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}


